body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 6px 6px 6px 30px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
    font-size: 15px;
}

.sidenav a:hover {
  color: dodgerblue;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
    background: black;
    color: dodgerblue;
    font-weight: bolder;
    border: none;
    position: static;
}

.search-container {
    float: right;
    border: none;
}

.search-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  width: 350px;
  border: none;
}

@media screen and (max-width: 600px) {
  .search-container {
    float: none;
  }
    